<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>TMDbAPIKey</key>
    <string>456ce59fb0d39f13ebd8a7d465889856</string>
    <key>TMDbReadToken</key>
    <string>eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI0NTZjZTU5ZmIwZDM5ZjEzZWJkOGE3ZDQ2NTg4OTg1NiIsIm5iZiI6MTc3NDA2Njk3Ny43NTIsInN1YiI6IjY5YmUxZDIxMTg5ZDUwZDg2MTdiYjFhMCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.rmK6L9WfUrRTic24l4fLs4d5nnT9Tt4X3759cw_wEZY</string>
</dict>
</plist>
